services:
  springboot-app:
    build:
      context: .
      dockerfile: services/Dockerfiles/api/Dockerfile
    container_name: springboot-app-dev
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/pdf_management
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: admin
      OLLAMA_BASE_URL: http://ollama:11434
      SPRING_PROFILES_ACTIVE: dev
    ports:
      - "8080:8080"
      - "5005:5005"
    networks:
      - backend
    volumes:
      - ./pdf-inbound-api/target/pdf-inbound-api-1.0-SNAPSHOT.jar:/app/app.jar
      - /home/stojani/Downloads:/mnt/Downloads
    command: ["java", "-jar", "app.jar"]
networks:
  backend:
    external: true
