services:
  springboot-app:
    build:
      context: .
      dockerfile: services/Dockerfiles/api/Dockerfile.dev
    container_name: springboot-app-dev
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/pdf_management
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: admin
      OLLAMA_BASE_URL: http://ollama:11434
      SPRING_DEVTOOLS_RESTART_ENABLED: "true"
    ports:
      - "8080:8080"
      - "5005:5005"
    networks:
      - backend
    volumes:
      - /home/stojani/Downloads:/mnt/Downloads
      - ./:/workspace
      - maven-repo:/root/.m2
    working_dir: /workspace
    command: >
      bash -lc
      "mvn -f pom.xml -pl pdf-inbound-api -am -DskipTests install
      && mvn -f pdf-inbound-api/pom.xml spring-boot:run
      -Dspring-boot.run.profiles=dev
      -Dspring-boot.run.jvmArguments='-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005'"

networks:
  backend:
    external: true

volumes:
  maven-repo:
